body{
	padding: 0;
	margin: 0;
}

*{
	font-family: verdana;
	font-size:110%;
}

#header{
	padding: 17px;
	background-color: #7ccc04;
	color: white;
	-webkit-box-shadow: 0px 0px 26px 0px rgba(112,112,112,1);
	-moz-box-shadow: 0px 0px 26px 0px rgba(112,112,112,1);
	box-shadow: 0px 0px 26px 0px rgba(112,112,112,1);
	margin-bottom: 50px;
}

.logo{
	width: 70%;
	height: 70%;
}

#page{
	text-align: center;
	border: 1px solid #fff;
	margin: 0 auto;
	width: 45%;
	-webkit-box-shadow: 0px 0px 26px 0px rgba(194,194,194,1);
	-moz-box-shadow: 0px 0px 26px 0px rgba(194,194,194,1);
	box-shadow: 0px 0px 26px 0px rgba(194,194,194,1);
	padding: 25px;
	border-radius: 15px;;
}

input{
	margin: 2%;
	border: transparent;
	border-bottom: 2px solid #eee;
	outline: none;
	padding: 1.5% 5%;
	transition: 0.25s;
}

input:focus{
	padding: 1.5% 10%;
	transition: 0.25s;
	border-bottom: 2px solid #7ccc04;
}

#content{
	margin-top: 5%;
	margin-left: 50%;
	transform: translateX(-50%);
	text-align: center;
	margin-bottom: 5%;
}

#footer{
	text-align: center;
	color: #dedede;
}

.btnn{
	background-color: #7ccc04;
	border: 3px solid #7ccc04;
	padding: 1.5% 5%;
	margin: 2%;
	margin-top: 50px;
	border-radius: 60px;
	font-family: sans-serif;
	color: white;
}

.btnn:hover{
	background-color: #acec4c;
	border: 3px solid #acec4c;
	color: white;
	transition: 0.25s;
	color: black;
}

#headerTable a:link, a:visited{
	font-size: 125%;
	color: 	#f8f8ff	;
	text-decoration: none;
	border-bottom: 0px solid #808080	;
	transition: 0.25s;
	text-shadow: 1px 1px 1px #808080	;
}

#headerTable a:hover{

	font-size: 125%;
	color: #076607;
	text-decoration: none;
	transition: 0.25s;
}

#add td{
	width:100%;
}

#add input {
 margin: 5px 15px;
}

#add button {
position: relative;
left: -700%;
height: 60px;
width: 600%;
}

.fas
{
	margin-left: 4%;
}
