body{
	padding: 0;
	margin: 0;
}

*{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size : 100%;
}

#header{
	padding: 17px;
	background-color: #7ccc04;
	color: white;
	-webkit-box-shadow: 0px 0px 26px 0px rgba(112,112,112,1);
	-moz-box-shadow: 0px 0px 26px 0px rgba(112,112,112,1);
	box-shadow: 0px 0px 26px 0px rgba(112,112,112,1);
	margin-bottom: 50px;
}

.logo{
	width: 70%;
	height: 70%;
	cursor: pointer;
}

#page{
	text-align: center;
	border: 1px solid #fff;
	margin: 0 auto;
	width: 45%;
	-webkit-box-shadow: 0px 0px 26px 0px rgba(194,194,194,1);
	-moz-box-shadow: 0px 0px 26px 0px rgba(194,194,194,1);
	box-shadow: 0px 0px 26px 0px rgba(194,194,194,1);
	padding: 25px;
	border-radius: 15px;;
}

input{
	margin: 2%;
	border: transparent;
	border-bottom: 2px solid #eee;
	outline: none;
	padding: 1.5% 5%;
	transition: 0.25s;
	font-size : 120%;
}

input:focus{
	padding: 1.5% 10%;
	transition: 0.25s;
	border-bottom: 2px solid #7ccc04;
	font-size : 120%;
}

#content{
	margin-top: 5%;
	margin-left: 50%;
	transform: translateX(-50%);
	text-align: center;
	margin-bottom: 5%;
}

#footer{
	text-align: center;
	color: rgb(180, 180, 180);
	font-size : 120%;
}

.btnn{
	/* background-color: #7ccc04;
	border: 3px solid #7ccc04;
	padding: 1.5% 5%;
	margin: 2%;
	margin-top: 50px;
	border-radius: 60px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size : 120%;
	color: white;
	cursor: pointer; */
	
	background-color: white;
	padding: 1.5% 5%;
	margin: 2%;
	margin-top: 50px;
	border-radius: 60px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size : 120%;
	cursor: pointer;
	border: 3px solid #67ac00;
	color: black;
	font-variant: bold;
	outline:none;
}

#btnlog
{
	border: 3px solid red;
}

#btnlog:hover
{
	background-color: red;
	border-color:red;
}

.btnn:hover{
	background-color: #67ac00;
	border: 3px solid #67ac00;
	color: white;
	transition: 0.25s;
}

#headerTable a:link, a:visited{
	font-size: 125%;
	color: 	#f8f8ff	;
	text-decoration: none;
	border-bottom: 0px solid #808080	;
	transition: 0.25s;
	text-shadow: 1px 1px 1px #808080	;
	margin-right: 10px;
}

#headerTable a:hover{

	font-size: 125%;
	color: #0e770e;
	text-decoration: none;
	transition: 0.25s;
}

#add td{
	width:100%;
}

#add input {
 margin: 5px 15px;
 font-size: 120%;

}

#add input:focus{
	padding: 2.5% 8%;
	transition: 0.25s;
	border-bottom: 2px solid #7ccc04;
	font-size : 120%;
}

#add button {
	position: relative;
	left: -400%;
	height: 60px;
	width: 400%;
	font-size: 120%;
}

#eye-btn
{
	margin-left: 4%;
	cursor: pointer;
	color: grey;
}

.fa-eye-clicked:before {
	content: "\f070";
}

.fa-user-plus:before {
    content: "\f234";
	margin-left: 4;
}

.fa-user-edit{
	cursor: pointer;
}

.fa-user-minus{
	cursor: pointer;
}

.fa-users:before {
	content: "\f0c0";
	margin-left: 4;
}

.btn-del a
{
	margin-left: 2%;
	cursor: pointer;
}

.btn-del i
{
	cursor: pointer;
}

#dump {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 100%;
}

#dump td, #dump th {
  border: 1px solid #ddd;
  padding: 8px;
}

#dump tr:nth-child(even){background-color: #f7f7f7;}

#dump tr:hover {background-color: #eee;}

#dump th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #67ac00;
  color: white;
}

#pageHide{
	position: fixed; height: 100%; width: 100%; top:0; left: 0; background: rgba(255,255,255,0.7); z-index:9999;
	text-align: center;
}

#pageHide div{
	font-size: 175%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#tableDiv
{
	display: flex;
    justify-content: center;
    margin: 3%;
}

#tableDiv table
{
	width: 80%;
    border: 1px solid #fff;
	text-align: center;
	-webkit-box-shadow: 0px 0px 26px 0px rgba(194,194,194,1);
    -moz-box-shadow: 0px 0px 26px 0px rgba(194,194,194,1);
    box-shadow: 0px 0px 26px 0px rgba(194,194,194,1);
    padding: 25px;
    border-radius: 15px;
	table-layout:fixed;
}

#tableDiv table th
{
	text-align: center;
}


#tableDiv table input {
	margin: 0;
	padding: 0;
	border-bottom: 2px solid #67ac00;
	font-size : 100%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.notify {
	padding: 5px;
	margin: 2px;
	color:  white;
	border:  1px solid white;
	background-color: #67ac00;
	position: fixed;
}

#Modal{
	z-index: 999999;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	width: 30%;
	height: 60%;
	background-color: white;
	position: fixed;
	border: 1px solid #fff;
	-webkit-box-shadow: 0px 0px 26px 0px rgba(194,194,194,1);
	-moz-box-shadow: 0px 0px 26px 0px rgba(194,194,194,1);
	box-shadow: 0px 0px 26px 0px rgba(194,194,194,1);
	padding: 25px;
	border-radius: 15px;
	color: black;
}

#Modal p{
margin: 0;
margin-top: 25px;
font-size: 125%;
color: black;
background-color: rgb(172, 172, 172);
border-radius: 60px;
padding: 5px;
padding-left: 15px;
}

#Modal input{
margin: 0;
margin-bottom: 25px;
}

#Modal p{
margin: 0;
margin-top: 25px;
margin-bottom: 10px;
font-size: 125%;
color: black;
background-color: #f7f7f7;
border-radius: 60px;
padding: 5px;
padding-left: 15px;
}

#Modal .btnn{
transform: translate(-50%, -50%);
float:right;
position: absolute;
left: 80%;
top: 83%;
}
#annulla
{
border-color:red;
}
#annulla:hover
{
background-color: red;
outline: none;
border-color:red;
}