body{
	padding: 0;
	margin: 0;
}

*{
	font-family: verdana;
	font-size:110%;
}

#header{
	padding: 22px;
	background-color: #ffae19;
	color: white;
	-webkit-box-shadow: 0px 0px 26px 0px rgba(112,112,112,1);
	-moz-box-shadow: 0px 0px 26px 0px rgba(112,112,112,1);
	box-shadow: 0px 0px 26px 0px rgba(112,112,112,1);
	margin-bottom: 50px;
	height: 50px;
}

#page{
	text-align: center;
	border: 1px solid #fff;
	margin: 0 auto;
	width: 75%;
	-webkit-box-shadow: 0px 0px 26px 0px rgba(194,194,194,1);
	-moz-box-shadow: 0px 0px 26px 0px rgba(194,194,194,1);
	box-shadow: 0px 0px 26px 0px rgba(194,194,194,1);
	padding: 25px;
	border-radius: 15px;;
}

input{
	margin: 2%;
	border: transparent;
	border-bottom: 2px solid #eee;
	outline: none;
	padding: 1.5% 5%;
	transition: 0.25s;
}

input:focus{
	padding: 1.5% 10%;
	transition: 0.25s;
	border-bottom: 2px solid #ffae19;
}

#content{
	margin-top: 5%;
	margin-left: 50%;
	transform: translateX(-50%);
	text-align: center;
	margin-bottom: 5%;
}

#footer{
	text-align: center;
	color: #dedede;
}

.btnn{
	background-color: transparent;
	border: 3px solid #ffae19;
	padding: 1.5% 5%;
	margin: 2%;
	margin-top: 50px;
	border-radius: 60px;
	font-family: sans-serif;
	
}

.btnn:hover{
	background-color: #ffae19;
	color: white;
	transition: 0.25s;
}

#headerTable a:link, a:visited{
	font-size: 125%;
	color: #eee;
	text-decoration: none;
	border-bottom: 0px solid white;
	transition: 0.25s;
	text-shadow: 1px 1px 1px #aaa;
}

#headerTable a:hover{

	font-size: 125%;
	color: #fff;
	text-decoration: none;
	border-bottom: 2px solid white;
	text-shadow: 2px 2px 3px #ddd;
	transition: 0.25s;
}