<!doctype html>
<html lang="en">
  <head>
    <title>Index</title> <!-- Bootstrap CSS -->
	<script src="../control/$.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../bin/css/main.css">
	<input id="allow" style="display: none" value="2"><script src="../control/allow.js"></script>
	
	<title>Home</title>
  </head>
  <body>

  
<header id="header">
<table>
<tr id="NavBar">
</tr>
</table>
<script src="../control/navbar.js"></script>
</header>

<div id="page">
<div id="info">
<p id="name"></p>
<p id="surname"></p>
<p id="email"></p>
</div>
<!-- MAIN HTML START -->
<div id="main">
</div>
<!-- MAIN HTML END -->
<footer id="footer">Made by ITISMeucci</footer>
</div>


	
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="../control/main.js"></script>
  </body>
</html>